@charset "utf-8";

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 16px;
	line-height: 1.3em;
}

div#header {
	background: linear-gradient(150deg, #002d7a 0%, #01775e 100%);
	color: #FFFFFF;
	padding: 1.5em;
}

div#header > h1 {
	margin: 0.5em 0 1em 0;
	font-size: 32px;
}

[v-cloak] > * { display:none; }
[v-cloak]::before { 
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
	background-image: url('../images/loading.svg');
	background-repeat: no-repeat;
	background-position: center center;
}

form {
	display: flex;
	flex-direction: column;
	flex: auto;
	padding: 0 1em;
}

input[type="text"] {
	padding: 0.1em 0.2em;
	box-sizing: border-box;
}

input[type="submit"] {
	font-size: 18px;
	padding: 0.5em 2em;
	font-weight: bold;
	background: linear-gradient(to bottom, #0095ff, #0d74dd);
	color: #FFFFFF;
	border-radius: 10px;
}

.nobr {
	white-space: nowrap;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.flexRow > *:not(:last-child) {
	margin-right: 1em;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

.flexColumn > *:not(:last-child) {
	margin-bottom: 0.7em;
}

.flex {
	flex: auto;
}

.flexStart {
	align-items: flex-start;
}

.flexCenter {
	align-items: center;
}

.flexStretch {
	align-items: stretch;
}

.flexWrap {
	flex-wrap: wrap;
}

.flexNoWrap {
	flex-wrap: nowrap;
}

.selfAlignStart {
	align-self: flex-start;
}

div.stepright .inactive {
	opacity: 0.38;
}

div.speciesData {
	border: 0.5px dashed #999999;
	padding: 0.5em 1em;
	background: #EEEEEE;
}

div.stepbox {
	padding: 0.5em 0;
}

div.stepbox > div {
	padding: 1em;
}

div.stepbox:not(:last-of-type) {
	border-bottom: 1px inset #CCCCCC;
}

div.stepleft {
	width: 5em;
	flex: none;
}

div.stepbox h2 {
	margin: 0.2em 0;
}

div.stepright {
	flex: auto;
}

div.stepright h3 {
	margin-top: 0.2em;
}

div.stepright .error::before {
	display: inline-block;
	border-radius: 50%;
	background: #B00020;
	color: #F9EFAD;
	content: "!";
	width: 1.4em;
	height: 1.4em;
	text-align: center;
	margin: 0 0.4em -0.2em 0;
	font-weight: bold;
}

div.stepright .error {
	padding: 0.5em;
	border: #B00020 dotted 0.5px;
	background: #F9EFAD;
	color: #B00020;
	font-size: 14px;
}

div.stepright div.help::before {
	display: inline-block;
	border-radius: 50%;
	background: #555555;
	color: #FFFFFF;
	content: "?";
	width: 1.4em;
	height: 1.4em;
	text-align: center;
	margin: 0 0.4em -0.2em 0;
	font-weight: bold;
}

div.stepright div.help {
	opacity: 0.75;
	cursor: pointer;
}

div.stepright > div.help:hover {
	opacity: 1;
}

div.searchClassPlaceholder {
	font-style: italic;
	padding: 0.5em;
	border: #000000 dotted 0.5px;
	opacity: 0.6;
	background: #FFFFCC;
	font-size: 14px;
}

div.submitStatus {
	margin: 0 0.5em;
}

div.submitStatus.formError {
	color: #B00020;
}

div.submitStatus.submitted {
	color: #01775e;
}

div#step1 > div.stepright > div > input:not(:first-of-type) {
	margin-left: 1em;
}

div#step1 > div.stepright > div > input {
	margin-right: 0.3em;
}

div.elemLabel {
	width: 16em;
	flex: none;
}

div.subElemLabel {
	flex: none;
}

textarea {
	flex: auto;
	min-height: 7em;
	min-width: 20em;
}

div#inputRegionContainer > * {
	margin-bottom: 0.25em;
}

.shortInputContainer > input {
	width: 5em;
	text-align: right;
}

div#step2 div.elemLabel > * {
	margin-right: 0.25em;
}

.parameterContainer input {
	margin-right: 2em;
}

.paramLabel {
	display: inline-block;
	width: 2em;
	font-style: italic;
}

#emailField {
	width: 20em;
}