@charset "utf-8";

html {
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 16px;
	line-height: 1.4em;
}

div#header {
	background: linear-gradient(150deg, #002d7a 0%, #01775e 100%);
	color: #FFFFFF;
	padding: 1.5em;
}

div#header.result {
	font-size: 0.75em;
	padding: 0.5em 1.5em;
}

div#header > h1 {
	margin: 0.5em 0;
	font-size: 2em;
	line-height: 1.3em;
}

div#header > h1:not(:last-child) {
	margin-bottom: 1em;
}

[v-cloak] > * { display:none !important; }
[v-cloak]::before { 
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
	background-image: url('../assets/images/loading.svg');
	background-repeat: no-repeat;
	background-position: center center;
}

form {
	display: flex;
	flex-direction: column;
	flex: auto;
	padding: 0 1em;
}

.flexRow > input[type="radio"] {
	margin-right: 0.5em;
}

input[type="text"] {
	padding: 0.1em 0.2em;
	box-sizing: border-box;
}

input[type="submit"] {
	font-size: 18px;
	padding: 0.5em 2em;
	font-weight: bold;
	background: linear-gradient(to bottom, #0095ff, #0d74dd);
	color: #FFFFFF;
	border-radius: 10px;
}

button {
	padding: 0.5em;
	border-radius: 8px;
	background: linear-gradient(to bottom, #F0F0F0, #DDDDDD);
	cursor: pointer;
}

button:active {
	background: linear-gradient(to top, #F0F0F0, #DDDDDD);
}

.encodeButton {
	padding: 0.5em;
	font-size: 14px;
	border-radius: 8px;
	border: 1px #999999 outset;
	background: linear-gradient(to bottom, #F0F0F0, #DDDDDD);
	margin-bottom: 0.5rem;
	cursor: pointer;
}

.encodeButton:active {
	border: 1px #999999 inset;
	background: linear-gradient(to top, #F0F0F0, #DDDDDD);
}

.nobr {
	white-space: nowrap;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.flexRow:not(.flexNoGap) > *:not(:last-child):not(i):not([type=radio]) {
	margin-right: 1em;
}

.flexRow.flexWrap:not(.flexNoGap) > *:not(.flexWrap):not(.flexColumn) {
	margin-bottom: 0.7em;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

.flexColumn:not(.flexNoGap) > *:not(:last-child):not(.flexWrap) {
	margin-bottom: 0.7em;
}

.flex {
	flex: auto;
}

.noFlex {
	flex: none;
}

.flexStart {
	align-items: flex-start;
}

.flexCenter {
	align-items: center;
}

.flexEnd {
	align-items: flex-end;
}

.justifyStart {
	justify-content: flex-start;
}

.justifyCenter {
	justify-content: center;
}

.justifyEnd {
	justify-content: flex-end;
}

.flexStretch {
	align-items: stretch;
}

.flexWrap {
	flex-wrap: wrap;
}

.flexNoWrap {
	flex-wrap: nowrap;
}

.selfAlignStart {
	align-self: flex-start;
}

.selfAlignCenter {
	align-self: center;
}

i.material-icons {
	font-size: 1.4em;
	vertical-align: text-bottom;
	margin-right: 0.4rem;
}

div.stepright .inactive {
	opacity: 0.38;
}

div.speciesData {
	border: 0.5px dashed #999999;
	padding: 0.75em 1em 0.25em 1em;
	background: #EEEEEE;
}

div.stepbox {
	padding: 0.5em 0;
}

div.stepbox > div {
	padding: 1em;
}

div.stepbox:not(:last-of-type) {
	border-bottom: 1px inset #CCCCCC;
}

div.stepleft {
	width: 5em;
	flex: none;
}

div.stepbox h2 {
	margin: 0.2em 0;
	white-space: nowrap;
}

div.stepright {
	flex: auto;
}

div.stepright h3 {
	margin-top: 0.2em;
}

div.stepright .error {
	padding: 0.5em;
	border: #B00020 dotted 0.5px;
	background: #F9EFAD;
	color: #B00020;
	font-size: 14px;
}

div.stepright div.help {
	opacity: 0.75;
	cursor: pointer;
}

div.stepright > div.help:hover {
	opacity: 1;
}

div.searchClassPlaceholder {
	font-style: italic;
	padding: 0.5em;
	border: #000000 dotted 0.5px;
	opacity: 0.6;
	background: #FFFFCC;
	font-size: 14px;
}

div.submitStatus {
	margin: 0 0.5em;
}

div.submitStatus.formError {
	color: #B00020;
}

div.submitStatus.submitted {
	color: #01775e;
}

div#step1 > div.stepright > div > input:not(:first-of-type) {
	margin-left: 1em;
}

div#step1 > div.stepright > div > input {
	margin-right: 0.5em;
}

div.elemLabel {
	width: 14em;
	flex: none;
}

div.elemLabel + * {
	flex: 1 0 25rem;
	box-sizing: border-box;
}

div.subElemLabel {
	flex: none;
}

textarea {
	flex: auto;
	min-height: 7em;
	min-width: 20em;
}

input#clusterInput {
	width: 22em;
}

div#clusterPanel {
	position: relative;
}

div#clusterCandidateHolder {
	z-index: 5;
	position: absolute;
	background: #EEEEEE;
	border: 0.5px solid #999999;
	padding: 0.8em;
	font-size: 14px;
}

div#clusterMessageHolder {
	font-style: italic;
	max-width: 12em;
	padding: 0.5em;
}

div#clusterList {
	width: 12em;
}

div#clusterList > ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

div#clusterList > ul > li {
	margin: 0;
	cursor: pointer;
	padding: 0.5em;
}

div#clusterList > ul > li.selected {
	font-weight: bold;
	background: #FFFFFF;
}

div#selectedClusterHolder {
	max-width: 23rem;
	background: #FFFFFF;
	padding-left: 0.5rem;
	max-width: 20rem;
	overflow-y: auto;
	font-size: 12px;
}

div#selectedClusterHolder ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

div#selectedClusterHolder li {
	padding: 0.5em;
	margin: 0;
}

div#selectedClusterHolder li > ul > li {
	padding: 0.2em 0.5em;
	margin: 0;
}

div#inputRegionContainer > * {
	margin-bottom: 0.25em;
}

.shortInputContainer > input {
	width: 5em;
	text-align: right;
}

.textWithInput input {
	margin: 0.3em 0;
}

.parameterContainer input {
	margin-right: 2em;
}

.paramLabel {
	display: inline-block;
	width: 2em;
	font-style: italic;
}

#emailField {
	width: 20em;
}

div#encodeDialogContainer {
	position: fixed;
	margin: auto;
	width: 100vw;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.35);
	z-index: 20;
}

div#encodeDialog {
	background: #EEEEEE;
	max-width: 70%;
	max-height: 70%;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.35);
	font-size: 14px;
}

div#encodeDialog > * {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

div#encodeDialogBody {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

div#encodeDialog > table {
	margin: 1rem 2rem;
}

div#encodeDialog > h2 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 0;
	background: #666666;
	color: #FFFFFF;
}

table.encodeTable {
	vertical-align: middle;
	text-align: center;
	border-collapse: collapse;
	width: 99%;
	box-sizing: border-box;
}

table.encodeTable > head > tr > th {
	padding: 0.4em 0.5em;
}

table.encodeTable > tbody > tr > th {
	padding: 0.4em 0.75em 0.4em 0;
}

table.encodeTable > * > tr > td {
	padding: 0.4em 0.75em;
}

table.encodeTable > tbody > tr > th {
	text-align: right;
}

table.encodeTable > * > tr > td {
	border: 1px solid rgba(0, 0, 0, 0.5);
}

table.encodeTable > * > tr > td > span {
	margin: 0 0.2em;
}

table.encodeTable > * > tr > th::first-letter {
	text-transform: uppercase;
}

table.encodeTable > * > tr > td,
table.encodeTable > * > tr > *.tablePlaceHolder {
	width: 20%;
	min-width: 4.5rem;
}

table.encodeTable > * > tr > *.tablePlaceHolder {
	border: none;
}

table.encodeTable > tbody > tr > th {
	width: 25%;
	min-width: 5rem;
}

table.encodeTable > * > tr > td:not(:empty) {
	background: #93bde7;
	cursor: pointer;
}

table.encodeTable > * > tr > td:not(.tablePlaceHolder):empty {
	background: #CCCCCC;
}

table.encodeTable > * > tr > td:not(.tablePlaceHolder):empty::before {
	font-style: italic;
	font-size: 12px;
	content: 'No paired data';
}

div#dataPanel {
	width: 20em;
	overflow-y: auto;
}

div#dataPanel li {
	padding: 0.25em 0;
	cursor: pointer;
}

div#dataPanel li.selected {
	font-weight: bold;
}

div#dataPanel li.selected > i {
	display: inline-block;
	margin: -0.2em 0 -0.05em -1.2em;
}

div#dataPanel li a > i {
	margin-left: 0.5rem;
	font-size: 1.1em;
}

div#dataPanel li a {
	color: #000000;
}

div#dataPanel li a:link,
div#dataPanel li a:visited {
	opacity: 0.6;
}

div#dataPanel li a:focus,
div#dataPanel li a:hover,
div#dataPanel li a:active {
	opacity: 1;
}

div#dataPanel li {
	list-style-type: none;
}

div#encodeTableHolder {
	overflow-y: auto;
	overflow-x: hidden;
}

/* ***** Result page related CSS rules ***** */

div#pageContainer {
	padding: 1rem;
}

.loadingHolder {
	padding: 2em;
	line-height: 1.4em;
}

.loadingHolder > *:not(:last-child) {
	margin-bottom: 0.8em;
}

span.keyboard {
	white-space: nowrap;
	padding: 0.17em 0.4em;
	background: #EEEEEE;
	border-radius: 5px;
	border: 0.5px solid #999999;
	font-family: 'Consolas', 'Courier New', Courier, monospace;
	font-size: 0.9em;
}

.resultHeader {
	margin: 1.5rem 0 1rem 0;
	font-size: 18px;
	font-weight: bold;
}

.resultHeader:first-child {
	margin-top: 0.5rem;
}

#heatmapPanel {
	min-width: 15rem;
	flex-basis: 35rem;
}

.resultHolder {
	padding: 0.5rem 1rem;
	min-width: 40rem;
	flex-basis: 40rem;
}

a.buttonLink {
	font-size: 14px;
	margin-left: 3em;
	margin-right: 3em;
	display: inline-block;
	padding: 0.3em 1em 0.3em 0.6em;
	font-weight: normal;
	background: linear-gradient(to bottom, #0095ff, #0d74dd);
	color: #FFFFFF;
	border-radius: 5px;
	text-decoration: none;
}

/* ***** Heatmap related CSS rules ***** */
div#heatmap {
	overflow: auto;
	margin: 0.5rem;
	padding: 1rem;
	max-width: 35em;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.35);
	font-size: 12px;
}

#heatmap > .resultHeader {
	margin-bottom: 0.1rem;
}

#heatmap table {
	border-collapse: collapse;
}

#heatmap table td {
	border: 0.5px solid #666666;
}

.heatmapColLabels {
	text-align: left;
	height: 8.5em;
	padding: 0 1.2em 0.5em 1.2em;
	max-width: 2.4em;
	overflow: visible;
	vertical-align: bottom;
}

.heatmapColLabels > div {
	transform: rotate(-90deg) translate(0, 50%);
	width: 8em;
	text-align: left;
	transform-origin: left bottom;
	line-height: 1.1em;
	font-weight: normal;
}

div.heatmapObj {
	width: 2.4em;
	height: 2.4em;
	box-sizing: border-box;
}

div.heatmapObj.seqMax {
	border: 4px solid #666666;
}

div.heatmapObj.epiMax {
	border: 4px solid #007e00;
}

div.heatmapObj > div {
	background: #c82500;
	width: 100%;
	height: 100%;
}

#heatmap table > tbody th {
	text-align: right;
	min-width: 7.5em;
	padding-right: 0.5em;
	font-weight: normal;
}

#heatmapLegend {
	font-size: 14px;
	padding: 0.5em 0.75em;
	margin-top: 0.3em;
	border: 1px solid #666666;
}

#heatmapLegend > :not(:last-child) {
	margin-bottom: 0.5em;
}

#heatmapLegend #colorScaleGroup {
	font-size: 11px;
}

#heatmapLegend #colorScale {
	height: 0.8em;
	width: 10em;
	margin: 0 0.3em;
	box-sizing: border-box;
	border: 1px solid #666666;
	background: linear-gradient(to right, rgba(200, 37, 0, 0), rgba(200, 37, 0, 1));
}

#heatmapLegend .heatmapObj {
	font-size: 12px;
	width: 1.5em;
	height: 1.5em;
}

#heatmapDesc {
	padding: 0.5rem 1rem;
	min-width: 20rem;
	flex-basis: 20rem;
}

/* ***** Enhancer image related ***** */

div.enhancerHint {
	font-size: 14px;
	font-style: italic;
	margin-top: -0.6em;
	margin-bottom: 0.4em;
}

tr.clickableTableRow {
	cursor: pointer;
}

div.enhancerCardContainer {
	padding: 1rem;
}

div.enhancerScoreContainer {
	background: #EEEEEE;
	padding: 0.3rem 1rem;
	margin-bottom: 1rem;
}

div.enhancerScoreContainer > div {
	padding: 0.3em 0.5em;
}

div.enhancerScoreContainer > div > div:first-child {
	width: 8em;
	font-weight: bold;
}

div.imgHolder {
	width: 38rem;
	min-height: 15rem;
	background-image: url('../assets/images/loading.svg');
	background-repeat: no-repeat;
	background-position: center center;
}
