@charset "utf-8";

html {
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 14px;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Segoe, "Segoe UI", "Helvetica", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 1em;
	line-height: 1.4em;
}

div#header {
	background: linear-gradient(150deg, #002d7a 0%, #01775e 100%);
	color: #FFFFFF;
	padding: 1em;
}

div#header.result {
	font-size: 0.75em;
	padding: 0.75em 1.5em;
}

div#header h1 {
	display: block;
	font-size: 2em;
	line-height: 1.3em;
	margin: 0;
}

div#header h1 > a {
	color: #FFFFFF;
	text-decoration: none;
}

div#headerContainer {
	padding: 0.5em;
}

div#header h1:not(:last-child) {
	margin-bottom: 0.5em;
}

div#header #headerButtonHolder {
	padding: 0;
	min-width: 15em;
	flex-basis: 15em;
}

div#header.result #headerButtonHolder {
	flex-basis: 25em;
}

div#header #headerButtonHolder > * {
	margin: 0.25em 0.5em;
}

div#header a.buttons {
	text-decoration: none;
	color: #FFFFFF;
	border: 0.14rem #FFFFFF solid;
	border-radius: 0.35rem;
	padding: 0.25em;
	text-align: center;
	width: 14em;
	box-sizing: border-box;
}

div#header a.buttons:hover {
	background: rgba(255, 255, 255, 0.15);
}

div#header a.buttons:active {
	background: rgba(255, 255, 255, 0.3);
}

div#header a.buttons > img {
	max-width: 1.2em;
}

div#header a.buttons > :first-child {
	margin-right: 0.21rem;
}

div#footer {
	background: linear-gradient(150deg, #01775e -30%, #002308 100%);
	color: white;
	font-size: 0.875rem;
	line-height: 1.3em;
}

div#footer > div {
	padding: 0.75em 2em;
	flex-basis: 30rem;
	box-sizing: border-box;
}

div#footer .flexRow > *:not(:last-child) {
	margin-right: 1em;
}

div#footer .flexRow > *:not(:last-child)::after {
	content: '|';
	margin-left: 1em;
}

div#footer .flexColumn > *:not(:last-child) {
	margin-bottom: 0.2em;
}

div#footer a {
	color: white;
	text-decoration: none;
}

div#footer a:active,
div#footer a:hover {
	text-decoration: underline;
}

img#ucsdLogo {
	width: 11rem;
	margin: 1.1rem 1.8rem;
}

code.codeParagraph {
	margin: 0.5rem 2rem 0.5rem 1rem;
	background: #EEEEEE;
	width: 100%;
	box-sizing: border-box;
	padding: 0.5rem 0.5rem;
	display: inline-block;
}

body:not(.manual) > div:not(.noFlex) {
	flex: 1 0 auto;
}

[v-cloak] > * { display:none !important; }
[v-cloak]::before { 
  content: " ";
  display: block;
  width: 30rem;
	height: 18rem;
	background-image: url('../assets/images/loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.highlightBlink {
	animation-duration: 0.2s;
	animation-name: highlightBlinkAnimation;
	animation-iteration-count: 6;
	animation-direction: alternate;
}

@keyframes highlightBlinkAnimation {
	to {
		opacity: 0.38;
	}
}

div.disabledDueToStep1 {
	opacity: 0.5;
	filter: grayscale(100%);
	pointer-events: none;
}

div.tooltipPanel {
	padding: 0.5em;
	border: #000000 dotted 0.07rem;
	opacity: 0.8;
	background: #FFFFCC;
	font-size: 0.875rem;
}

div.tooltipPanel.flexColumn {
	padding: 0.5em 0;
}

div.tooltipPanel .twoColumnContent {
	flex-basis: 40rem;
}

div.tooltipPanel.flexColumn .flexRow > div:not(.flexRow) {
	padding: 0.5em 1em;
}

div.tooltipPanel .twoColumnContent .imgHolder {
	max-width: 32rem;
	min-width: 16rem;
	flex-basis: 20rem;
}

div.tooltipPanel .twoColumnContent img {
	max-width: 100%;
}

div.tooltipPanel .twoColumnContent .imgHolder + div {
	flex-basis: 16rem;
	min-width: 16rem;
}

.errorMessage {
	flex-basis: 100%;
	box-sizing: border-box;
	padding: 0.5em;
	border: #B00020 dotted 0.07rem;
	background: #F9EFAD;
	color: #B00020;
	font-size: 0.875rem;
	display: inline-flex;
	flex-direction: row;
	align-content: flex-start;
	flex-wrap: nowrap;
	margin-bottom: 0.5em;
	opacity: 0.87;
	flex: auto;
	align-self: stretch;
}

.errorMessage span > i {
	display: inline-block;
	margin: 0 0.2em;
}

:not(.flexNoGap) > .errorMessage {
	margin-top: -0.5em;
}

.errorMessage.auto {
	display: none;
}

form {
	display: flex;
	flex-direction: column;
	flex: auto;
	padding: 0 1em;
}

form.hasError :invalid + .errorMessage.auto,
form.hasError .errorParaContainer ~ .errorMessage.auto {
	display: block;
}

.flexRow > input[type="radio"] {
	margin-right: 0.5em;
}

input[type="text"],
input[type="number"],
input[type="email"] {
	padding: 0.1em 0.2em;
	box-sizing: border-box;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	display: none;
}

input[type="submit"] {
	font-size: 1.125rem;
	padding: 0.5em 2em;
	font-weight: bold;
	background: linear-gradient(to bottom, #0095ff, #0d74dd);
	color: #FFFFFF;
	border-radius: 0.63rem;
}

button {
	padding: 0.5em;
	border-radius: 0.5rem;
	background: linear-gradient(to bottom, #F0F0F0, #DDDDDD);
	cursor: pointer;
	position: relative;
	overflow: visible;
}

button > div.buttonTip {
	display: none;
	position: absolute;
	left: 10em;
	top: 0;
	width: 15em;
	text-align: left;
}

button:active {
	background: linear-gradient(to top, #F0F0F0, #DDDDDD);
}

button:hover > div.buttonTip,
button:active > div.buttonTip {
	display: block;
}

.encodeButton {
	padding: 0.5em;
	font-size: 0.875rem;
	border-radius: 0.5rem;
	border: 0.07rem #999999 outset;
	background: linear-gradient(to bottom, #F0F0F0, #DDDDDD);
	margin-bottom: 0.5rem;
	cursor: pointer;
}

.encodeButton:active {
	border: 0.07rem #999999 inset;
	background: linear-gradient(to top, #F0F0F0, #DDDDDD);
}

.nobr {
	white-space: nowrap;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.flexRow:not(.flexNoGap) > *:not(:last-child):not(i):not([type=radio]) {
	margin-right: 1em;
}

.flexRow.flexWrap:not(.flexNoGap) > *:not(.flexWrap):not(.flexColumn):not(.flexNoGapElem),
.flexColumn:not(.flexNoGap) > *:not(:last-child):not(.flexWrap):not(.flexNoGapElem) {
	margin-bottom: 0.7em;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

.flex {
	flex: auto;
}

.noFlex {
	flex: none;
}

.flexStart {
	align-items: flex-start;
}

.flexCenter {
	align-items: center;
}

.flexEnd {
	align-items: flex-end;
}

.justifyStart {
	justify-content: flex-start;
}

.justifyCenter {
	justify-content: center;
}

.justifyEnd {
	justify-content: flex-end;
}

.flexStretch {
	align-items: stretch;
}

.flexWrap {
	flex-wrap: wrap;
}

.flexNoWrap {
	flex-wrap: nowrap;
}

.selfAlignStart {
	align-self: flex-start;
}

.selfAlignCenter {
	align-self: center;
}

i.material-icons,
i.material-icons-outlined {
	font-size: 1.5em;
	vertical-align: text-bottom;
}

i.material-icons.button {
	cursor: pointer;
}

i.material-icons.iconAtLeft {
	margin-right: 0.4rem;
}

div.stepright .inactive {
	opacity: 0.38;
}

div.speciesData {
	border: 0.07rem dashed #999999;
	padding: 0.75em 1em 0.25em 1em;
	background: #EEEEEE;
}

div.stepbox {
	padding: 1.5em 0;
}

div.stepbox > div {
	padding: 0 1em;
}

div.stepbox:not(:last-of-type) {
	border-bottom: 0.07rem inset #CCCCCC;
}

div.stepleft {
	width: 5em;
	flex: none;
}

div.stepbox h2 {
	margin: 0.2em 0;
	white-space: nowrap;
}

div.stepright {
	flex: auto;
	flex-basis: 27rem;
}

div.stepright h3 {
	margin-top: 0.2em;
}

div.help {
	opacity: 0.75;
	cursor: pointer;
}

div.help:hover {
	opacity: 1;
}

div.searchClassPlaceholder {
	font-style: italic;
}

div.submitStatus {
	margin: 0 0.5em;
}

div.submitStatus.formError {
	color: #B00020;
}

div.submitStatus.submitted {
	color: #01775e;
}

div#step1 > div.stepright > div > input:not(:first-of-type) {
	margin-left: 1em;
}

div#step1 > div.stepright > div > input {
	margin-right: 0.5em;
}

div.textAreaHolder {
	position: relative;
	margin-top: -0.5em;
	margin-bottom: 0.5em;
}

div.bedFormatHint {
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding: 0.5em 0.75em;
	background: #faf5de;
	box-sizing: border-box;
	box-shadow: 0.07rem 0.07rem 0.21rem 0.07rem rgba(0, 0, 0, 0.35);
	position: absolute;
}

div.elemLabel {
	width: 14em;
	flex: none;
}

div.elemLabel + * {
	flex: 1 1 25rem;
	box-sizing: border-box;
}

div.subElemLabel {
	flex: none;
}

textarea {
	flex: auto;
	min-height: 7em;
}

input#clusterInput {
	width: 22em;
}

div#clusterPanel {
	position: relative;
}

div#clusterCandidateHolder {
	z-index: 5;
	position: absolute;
	background: #EEEEEE;
	border: 0.07rem solid #999999;
	padding: 0.8em;
	font-size: 0.875rem;
}

div#clusterMessageHolder {
	font-style: italic;
	max-width: 12em;
	padding: 0.5em;
}

div#clusterList {
	width: 12em;
}

div#clusterList > .clusterListHeader {
	padding: 0.5em;
	background: #CCCCCC;
	font-weight: bold;
	font-style: italic;
}

div#clusterList > ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

div#clusterList > ul > li {
	margin: 0;
	cursor: pointer;
	padding: 0.25em 0.5em;
}

div#clusterList > ul > li > i {
	font-size: 1.5em;
}

div#clusterList > ul > li.selected {
	font-weight: bold;
	background: #FFFFFF;
}

div#selectedClusterHolder {
	max-width: 20rem;
	max-height: 23rem;
	background: #FFFFFF;
	padding-left: 0.5rem;
	overflow-y: auto;
	font-size: 0.875rem;
}

div#selectedClusterHolder ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

div#selectedClusterHolder li > .speciesGeneHeader {
	margin: 0.5em;
	padding: 0.5em;
	background: #EEEEEE;
	font-weight: bold;
}

div#selectedClusterHolder li > .speciesGeneHeader::first-letter {
	text-transform: capitalize;
}

div#selectedClusterHolder li > ul {
	margin: 0.5em;
}

div#selectedClusterHolder li > ul > li {
	padding: 0.2em 0.5em;
	margin: 0;
}

div#selectedClusterHolder li > ul > li > .geneName {
	margin-right: 0;
}

div#selectedClusterHolder li > ul > li > .geneDescription {
	flex-basis: 10em;
	margin-left: 2em;
	opacity: 0.6;
}

div#inputRegionContainer > * {
	margin-bottom: 0.25em;
}

.shortInputContainer > input {
	width: 5em;
	text-align: right;
}

.textWithInput input {
	margin: 0.3em 0;
}

.parameterContainer input {
	margin-right: 2em;
}

.paramLabel {
	display: inline-block;
	width: 2em;
	font-family: 'Times New Roman', Times, serif;
}

#emailField {
	width: 20em;
}

div#encodeDialogContainer {
	position: fixed;
	margin: auto;
	width: 100vw;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.35);
	z-index: 20;
}

div#encodeDialog {
	background: #EEEEEE;
	max-width: 70%;
	min-width: 50rem;
	min-height: 25rem;
	max-height: 70%;
	box-shadow: 0.35rem 0.35rem 0.35rem 0 rgba(0,0,0,0.35);
	font-size: 0.875rem;
}

div#encodeDialog > * {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

div#encodeDialogBody {
	min-height: 1rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

div#encodeDialog > table {
	margin: 1rem 2rem;
}

div#encodeDialog > h2 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 0;
	background: #666666;
	color: #FFFFFF;
}

div#presetPanel {
	min-height: 1rem;
}

div#encodeTableHolder {
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0.5em;
}

table.encodeTable {
	vertical-align: middle;
	text-align: center;
	border-collapse: collapse;
	width: 99%;
	box-sizing: border-box;
}

table.encodeTable > head > tr > th {
	padding: 0.4em 0.5em;
}

table.encodeTable > tbody > tr > th {
	padding: 0.4em 0.75em 0.4em 0;
}

table.encodeTable > * > tr > td {
	padding: 0.4em 0.75em;
}

table.encodeTable > tbody > tr > th {
	text-align: right;
}

table.encodeTable > * > tr > td {
	border: 0.07rem solid rgba(0, 0, 0, 0.5);
}

table.encodeTable > * > tr > td > span {
	margin: 0 0.2em;
}

table.encodeTable > * > tr > th::first-letter {
	text-transform: uppercase;
}

table.encodeTable > * > tr > td,
table.encodeTable > * > tr > *.tablePlaceHolder {
	width: 20%;
	min-width: 4.5rem;
}

table.encodeTable > * > tr > *.tablePlaceHolder {
	border: none;
}

table.encodeTable > tbody > tr > th {
	width: 25%;
	min-width: 5rem;
}

table.encodeTable > * > tr > td:not(:empty) {
	background: #93bde7;
	cursor: pointer;
}

table.encodeTable > * > tr > td:not(.tablePlaceHolder):empty {
	background: #CCCCCC;
}

table.encodeTable > * > tr > td:not(.tablePlaceHolder):empty::before {
	font-style: italic;
	font-size: 0.875rem;
	content: 'No paired data';
}

div#dataPanel {
	width: 16em;
	padding: 0.75em 0 0 0.5em;
	overflow-y: hidden;
	min-width: 13em;
}

div#dataPanel > div {
	box-sizing: border-box;
	margin: 0;
	border: 0.07rem #999999 solid;
	background: #EEEEEE;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

div#dataPanel > div > h3 {
	margin: 0;
	font-size: 1rem;
	font-weight: 500;
	padding: 0.25em 0.5em;
	color: rgba(255, 255, 255, 0.86);
	background: #666666;
}

div#dataPanel > div > h3::first-letter {
	text-transform: capitalize;
}

div#dataPanel > div > ul {
	margin: 0.5em 0;
	padding-left: 2em;
}

div#dataPanel li {
	padding: 0.1em 0;
	cursor: pointer;
}

div#dataPanel li.selected {
	font-weight: bold;
}

div#dataPanel li.selected > i {
	display: inline-block;
	margin: 0 0.2em 0 -1.2em;
}

div#dataPanel li a > i {
	margin: 0 0.5rem;
	font-size: 1.25em;
}

div#dataPanel li a {
	color: #000000;
}

div#dataPanel li a:link,
div#dataPanel li a:visited {
	opacity: 0.6;
}

div#dataPanel li a:focus,
div#dataPanel li a:hover,
div#dataPanel li a:active {
	opacity: 1;
}

div#dataPanel li {
	list-style-type: none;
}

/* ***** Result page related CSS rules ***** */

div#runInfo {
	font-size: 0.875rem;
	background: #eeeeee;
	border-bottom: 0.07rem dashed #666666;
}

div#runInfo > div.expandedRunInfo {
	padding: 1rem;
}

div#runInfo > div.expandedRunInfo > div > div {
	width: 24em;
}

div#runInfo > div.collapsedRunInfo {
	padding: 0.25rem 1rem;
}

div#runInfo > div.collapsedRunInfo > div > div {
	margin-right: 1rem;
}

div#runInfo > div > div > div {
	padding: 0 0.5rem;
}

div#runInfo > div > div > div > span {
	white-space: nowrap;
}

div#runInfo > div > div > div > span.entryKey {
	margin-right: 1em;
	color: #002d7a;
	font-weight: 500;
}

div#runInfo > div.expandedRunInfo > div > div.parameter > span.entryKey::after {
	font-family: Segoe, "Segoe UI", "Helvetica", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	content: ' : ';
}

div#runInfo > div > div > div > span.entryKey::after {
	content: ': ';
}

div#runInfo > div.expandedRunInfo > div > div.parameter {
	width: 8em;
	padding: 0 0.5rem;
}

div#runInfo > div > div > div.parameter > span.entryKey {
	font-family: 'Times New Roman', Times, serif;
}

div.grayButton {
	cursor: pointer; 
	border: 0.07rem solid #999999;
	border-radius: 0.21rem;
	background: rgba(0, 0, 0, 0.125);
	mix-blend-mode: multiply;
}

div.expandedRunInfo div.grayButton {
	margin: 0.1rem 0.5rem 0 0.5rem;
	padding: 0 2.5rem;
}

div.collapsedRunInfo div.grayButton {
	margin: 0.1rem 0.5rem;
	padding: 0 1rem;
}

div.grayButton:hover {
	background: rgba(0, 0, 0, 0.2);
}

div.grayButton:active {
	background: rgba(0, 0, 0, 0.25);
}

div.errorContainer {
	padding: 1rem 2rem 0 2rem;
	font-size: 0.875rem;
}

div.errorContainer code {
	padding-left: 1em;
	padding-right: 1em;
	width: auto;
	margin: 0.5rem 1rem;
	display: block;
}

div.errorContainer code::before {
	content: '';
}

div.errorContainer.warning {
	padding: 1rem 2rem 0 2rem;
	font-size: 0.875rem;
}

div.errorContainer div.closeError > *:not(:last-child) {
	margin-right: 0.5em;
}

div.errorContainer div.closeError > i {
	margin-left: 0.5em;
}

div#pageContainer {
	padding: 1rem;
}

.loadingHolder {
	padding: 2em;
	line-height: 1.4em;
}

.loadingHolder > *:not(:last-child) {
	margin-bottom: 0.8em;
}

span.keyboard {
	white-space: nowrap;
	padding: 0.17em 0.4em;
	background: #EEEEEE;
	border-radius: 0.35rem;
	border: 0.07rem solid #999999;
	font-family: 'Consolas', 'Courier New', Courier, monospace;
	font-size: 0.9em;
}

.resultHeader {
	margin: 1.5rem 0 0.25rem 0;
}

.resultHeader > * {
	margin-bottom: 0.5rem;
}

.resultHeader > *:not(:last-child) {
	margin-right: 2.5rem;
}

.resultHeader:first-child {
	margin-top: 0.5rem;
}

.resultHeader > .headerText {
	font-size: 1.125rem;
	font-weight: bold;
}

.resultHeader > .descText {
	font-size: 0.9em;
	font-style: italic;
}

.resultHolder {
	padding: 0.5rem 1rem;
	flex-basis: 80rem;
}

a.buttonLink {
	font-size: 0.875rem;
	display: inline-block;
	padding: 0.3em 1em 0.3em 0.6em;
	font-weight: normal;
	background: linear-gradient(to bottom, #0095ff, #0d74dd);
	color: #FFFFFF;
	border-radius: 0.35rem;
	text-decoration: none;
}

.btnWithAnno {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0.3em;
	text-decoration: none;
	vertical-align: middle;
}

.btnWithAnno > i.material-icons {
	font-size: 0.875rem;
	margin: -0.2em 0;
}

.btnWithAnno > .annotation {
	font-size: 0.63rem;
	font-family: "Consolas", "Lucida Console", "Monaco", monospace;
	margin: -0.4em 0;
}

.dataTableCell:not(.dataTableCellNoGap) {
	padding: 0 0.75rem !important;
	vertical-align: middle;
}

.dataTableCellNoGap {
	padding: 0 !important;
	vertical-align: middle;
}

.dataTableCell:not(.btnWithAnno) > i.material-icons {
	font-size: 1.75em;
}

tr.expandable {
	cursor: pointer;
}

.dataTableCell > a {
	color: #000000;
}

.dataTableCell > a:link,
.dataTableCell > a:visited {
	opacity: 0.7;
}

.dataTableCell > a:focus,
.dataTableCell > a:hover,
.dataTableCell > a:active {
	opacity: 1;
}

/* ***** Heatmap related CSS rules ***** */

#heatmapPanel {
	min-width: 15rem;
	flex-basis: auto;
}

#heatmapPanel .borderedPanel {
	overflow: auto;
	margin: 0.5rem;
	box-shadow: 0.07rem 0.07rem 0.07rem 0.07rem rgba(0,0,0,0.35);
	font-size: 0.875rem;
	max-width: 100%;
	max-height: 40rem;
}

div#heatmap > div {
	display: inline-flex;
	margin: 0.5rem 1rem 1rem 1rem;
}

#heatmap .resultHeader {
	margin-bottom: 0.1rem;
}

#heatmap table {
	border-collapse: collapse;
}

#heatmap table td {
	border: 0.07rem solid #666666;
}

.heatmapColLabels {
	text-align: left;
	height: 8.5em;
	padding: 0 1.25em 0.5em 1.25em;
	max-width: 2.5em;
	overflow: visible;
	vertical-align: bottom;
}

.heatmapColLabels > div {
	transform: rotate(-90deg) translate(0, 50%);
	width: 8em;
	text-align: left;
	transform-origin: left bottom;
	line-height: 1.1em;
	font-weight: normal;
}

div.heatmapObj {
	width: 2.5em;
	height: 2.5em;
	box-sizing: border-box;
	position: relative;
}

div.heatmapObj > div.heatmapBorder {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background: none;
}

div.heatmapObj > div.heatmapBorder.insignificant {
	margin: 0.07rem;
}

div.heatmapObj > div.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	font-weight: bold;
	font-size: 0.63rem;
	background: none;
}

div.heatmapBorder.seqMax {
	border: 0.28rem solid #666666;
}

div.heatmapBorder.seqMax.insignificant {
	border: 0.21rem dashed #666666;
}

div.heatmapBorder.epiMax {
	border: 0.28rem solid #007e00;
}

div.heatmapBorder.epiMax.insignificant {
	border: 0.21rem dashed #007e00;
}

.heatmapCell > div.heatmapObj > div.heatmapValueCell {
	background: #c82500;
	width: 100%;
	height: 100%;
}

#heatmap table > tbody th {
	text-align: right;
	min-width: 7.5em;
	padding-right: 0.5em;
	font-weight: normal;
}

#heatmapLegend {
	font-size: 0.875rem;
	margin-top: 0.3em;
}

.figureLegend {
	padding: 0.5em 0.75em;
	border: 0.07rem solid #666666;
}

#heatmapLegend > :not(:last-child) {
	margin-bottom: 0.2em;
}

#heatmapLegend #colorScaleGroup {
	font-size: 0.7rem;
}

#heatmapLegend #colorScaleContainer {
	padding: 0;
	overflow-x: visible;
	width: 10em;
	margin: 0 0.3em 0.5em 0.3em;
}

#heatmapLegend #colorScale {
	width: 100%;
	height: 1em;
	box-sizing: border-box;
	border: 0.07rem solid #666666;
	background: linear-gradient(to right, rgba(200, 37, 0, 0), rgba(200, 37, 0, 1));
}

#heatmapLegend #colorScaleContainer #percentile95 {
	overflow: visible;
	width: 0;
	border-left: 0.07rem solid #666666;
	height: 1.2em;
	line-height: 0.8em;
}

#heatmapLegend #colorScaleContainer #percentile95 > span {
	margin: 0 0.1em;
	padding: 0.1em 0.1em;
}

#heatmapLegend div.legendIcon.heatmapBorder:not(:last-child) {
	margin-right: 0.4em;
}

#heatmapLegend .withPercentile {
	width: 3em;
}

div.legendIcon {
	display: inline-block;
	font-size: 0.75rem;
	width: 1.5em;
	height: 1.5em;
	margin-top: 0.25em;
	vertical-align: top;
}

div.legendIcon.heatmapObj.plain {
	border: 0.07rem #666666 solid;
}

#heatmapDesc {
	padding: 0.5rem 1rem;
	min-width: 25rem;
	flex-basis: 25rem;
	font-size: 0.875rem;
}

#heatmapDesc p {
	margin-bottom: 1em;
	line-height: 1.4em;
}

#heatmapDesc ul {
	margin: -1em 1em 0 1em;
}

#pageContainer .flexShrink {
	flex: 0 1 auto;
	overflow-y: auto;
}

#pageContainer .refBarHolder {
	min-height: 8.5em;
}

#expressionBar {
	padding: 0.5rem 0.75rem 0.75rem 0.75rem;
	max-height: 100%;
}

#expressionBar .figureLegend {
	max-width: 22.5rem;
}

.expColorSquare {
	width: 1.2em;
	height: 1.2em;
	margin-right: 0.5em;
}

#expressionBar .expLegendEntry {
	min-width: 10em;
	margin-right: 1.5em;
}

div#pageContainer div.grayButton {
	padding: 0.14rem 0.21rem;
}

div#pageContainer div.grayButton > div > i.material-icons-outlined {
	margin-right: 0.2em;
}

div#pageContainer div.grayButton > div > i.material-icons-outlined.rotated90deg {
	transform: rotate(90deg);
}

/* ***** Enhancer image related ***** */

div.enhancerHint {
	font-size: 0.875rem;
	margin-bottom: 0.4em;
}

div.enhancerHint > div.closeHint > *:not(:last-child) {
	margin-right: 0.5em;
}

div.enhancerHint > div.closeHint > i {
	margin-left: 0.5em;
}

tr.clickableTableRow {
	cursor: pointer;
}

div.enhancerCardContainer {
	padding: 1rem;
}

div.resultImgHolder {
	min-width: 30rem;
	flex: 0 1 38rem;
	min-height: 15rem;
	background-repeat: no-repeat;
	background-position: center center;
}

div.resultImgHolder.loading {
	background-image: url('../assets/images/loading.gif');
}

div.resultImgHolder > img {
	max-width: 100%;
	max-height: 100%;
}

/* ***** Result description related ***** */

div.resultDesc {
	flex-basis: 45rem;
}

div.resultDesc > div.dataPart {
	border: 0.14rem solid #CCCCCC;
	padding-bottom: 0.3em;
}

div.resultDesc > div.dataPart > :not(.sectionHeader) {
	padding: 0.3em 0.75em;
}

div.resultDesc div.dataEntry {
	width: 16rem;
}

div.resultDesc .anno {
	font-weight: 500;
	margin-right: 1em;
}

div.resultDesc > div:not(:last-child) {
	margin-bottom: 0.75em;
}

div.resultDesc div.sectionHeader {
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.7rem;
	background: #EEEEEE;
	padding: 0.15em 0.25em;
}

div.resultDesc div.sectionHeader > * {
	margin: 0.15em 0.25em;
}

div.resultDesc div.sectionHeader .help {
	font-size: 1rem;
	margin-left: 0.5em;
	font-weight: normal;
}

div.resultDesc div.sectionHeader .helpContent {
	font-size: 0.85rem;
	margin-left: 1em;
	font-weight: normal;
	background: rgba(255, 255, 255, 0.86);
	border: 0.07rem dashed #666666;
	padding: 0.25em 0.25em 0.25em 0.5em;
	flex-basis: 30em;
	line-height: 1.5em;
}

div.resultDesc div.sectionHeader .helpContent p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div#pageContainer div.resultDesc div.sectionHeader div.grayButton {
	font-size: 0.875rem;
	font-weight: 500;
	margin: 0 0.75em;
	padding: 0.07rem 0.21rem;
}

div.resultDesc div.subHeader {
	font-size: 1.1rem;
	font-weight: bold;
	margin-right: 1rem;
	min-width: 15rem;
}

div.resultDesc span.shiftedLabel {
	background: #EEEEEE;
	padding: 0.3em 0.5em;
	border-radius: 0.75em;
	display: inline-flex;
	vertical-align: middle;
	font-size: 1em;
}

div.resultDesc span.shiftedLabel.inline {
	padding: 0.15em 0.25em;
}

div.resultDesc span.shiftedLabel > i.material-icons {
	font-size: 1.6em;
	margin-right: 0.25em;
}

div#pageContainer div.enhancerTableBarContainer > * {
	max-height: 30rem;
}

div#pageContainer div.expressionTableHolder,
div#pageContainer div.barGraphHolder {
  margin: 1em 0.5em;
}

div#pageContainer table.expressionTable {
	width: auto;
	border-collapse: collapse;
	border: 0.07rem solid #666666;
}

div#pageContainer table.expressionTable > * > tr {
	padding: 0;
	height: auto;
}

div#pageContainer table.expressionTable > thead > tr > th {
	padding: 0.5em 1em;
	height: auto;
	font-weight: bold;
}

div#pageContainer table.expressionTable > tbody > tr > th {
	padding: 0.5em 0.5em;
	height: auto;
	text-align: left;
	font-weight: 500;
	background: #EEEEEE;
}

div#pageContainer table.expressionTable > tbody > tr > td {
	padding: 0.5em 1em;
	height: auto;
}

div#pageContainer table.expressionTable > tbody > tr > td.rightAlign {
	text-align: right;
}

div.enhancerCardContainer div.figureLegend {
	margin: 0.5em;
}

/* ***** Result description SVG related ***** */

div.svgGraphHolder {
	background: #EEEEEE;
	padding: 0.5em;
}

svg .seqCompBackgroundBox {
	fill: #FFFFFF;
	fill-opacity: 0.7;
	stroke: #666666;
	stroke-width: 0.07rem;
	stroke-dasharray: 1.5,1.5;
}

svg .seqCompBackgroundMedian {
	stroke: #666666;
	stroke-width: 0.07rem;
	stroke-dasharray: 2,2;
}

svg .seqCompOrthoBox {
	fill: #FFFFFF;
	fill-opacity: 0.7;
	stroke: #666666;
	stroke-width: 0.07rem;
}

svg .seqCompOrthoMedian {
	stroke: #666666;
	stroke-width: 0.07rem;
	stroke-dasharray: 2,2;
}

svg .seqCompCrossEpiMark {
	stroke: #c82500;
	stroke-width: 0.14rem;
}

svg .seqCompCrossSeqMark {
	stroke: #666666;
	stroke-width: 0.14rem;
}

svg .seqCompLegendBox {
	fill: #FFFFFF;
	stroke: #666666;
	stroke-width: 0.07rem;
}

svg .seqCompAxis {
	stroke: #666666;
	stroke-width: 0.07rem;
}

/* ***** Manual related styles ***** */

div#manual_app {
	overflow: hidden;
}

div#manualNav {
	box-sizing: border-box;
	box-shadow: 0.07rem 0.07rem 0.63rem 0.07rem rgba(0, 0, 0, 0.5);
	font-size: 0.875rem;
	z-index: 10;
	background: #FFFFFF;
	overflow: hidden;
}

div#navHeader {
	width: 20rem;
	font-size: 1rem;
	background: rgb(38, 68, 132);
	color: #FFFFFF;
	padding: 1em;
	font-weight: bold;
	box-sizing: border-box;
}

div#navContent {
	width: 20rem;
	padding: 1em 1.5em;
	line-height: 2em;
	overflow-y: auto;
	box-sizing: border-box;
}

div#collapseNavButton {
	background: #EEEEEE;
	color: #000000;
	opacity: 0.87;
	border-radius: 0.35rem;
	border: 0.07rem solid #333333;
	cursor: pointer;
	padding: 0.2em 1em;
	font-weight: normal;
	font-size: 0.75rem;
}

div#manualNav ul {
	padding-left: 1.5em;
	font-weight: normal;
}

div#manualNav > div > ul {
	padding-left: 0;
	font-weight: 500;
}

div#manualNav li {
	list-style: none;
}

div#manualNav a {
	text-decoration: none;
	color: #000000;
	opacity: 0.87;
}

div#manualNav a:hover,
div#manualNav a:active {
	text-decoration: underline;
	opacity: 1;
}

div#manualContent {
	overflow-y: auto;
	flex-basis: 30rem;
	overflow-x: hidden;
	max-height: 100vh;
}

div#callOutNav {
	position: fixed;
	left: 0;
	top: 7em;
	cursor: pointer;
	background: #EEEEEE;
	border: 0.07rem solid #666666;
	border-radius: 0.3em;
	padding: 0.3em 1em 1.5em 1em;
	box-shadow: 0.07rem -0.07rem 0.63rem 0.07rem rgba(0, 0, 0, 0.5);
	transform: rotate(90deg);
	transform-origin: left center;
	font-weight: 500;
	z-index: 5;
}

div#callOutNav:hover {
	left: 0.5em;
}

div.manualHeader > h1 {
	font-size: 1.6em;
	margin: 2rem 2.5rem 1rem 2.5rem;
	line-height: 1.4em;
}

div.section {
	margin: 0.5rem 3rem;
}

div.section > h1 {
	font-size: 1.5rem;
	margin: 0.5rem -0.5rem 1rem -0.75rem;
	padding: 0.75rem;
	background: linear-gradient(to right, rgba(0, 45, 122, 0.86) 10em,
		rgba(0, 45, 122, 0.15) 98%, rgba(0, 45, 122, 0) 100%);
	color: #ffffff;
}

div.section > h2 {
	font-size: 1.25rem;
	margin: 1rem 0 1rem 0;
	padding: 0.5rem 0;
	border-bottom: 0.07rem #002d7a dotted;
	color: #002d7a;
}

div.section > h3 {
	margin: 1rem 0 0.5rem 0;
	padding: 0.5rem 0;
}

div.section > h4 {
	margin: 0.5rem 0 0 0;
	padding: 0.5rem 0;
}

div.section > h5 {
	font-size: 1em;
	font-weight: 500;
	margin: 0.5rem 0 0 0.5rem;
	padding: 0.25rem 0;
}

div.section > h6 {
	font-size: 1em;
	font-style: italic;
	font-weight: 500;
	text-decoration: underline solid #999999;
	margin: 0.25rem 0 0 1rem;
	padding: 0.25rem 0;
}

div.section > div#EntireCluster {
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
	margin: 0.25rem 0 0 1rem;
	padding: 0;
}

div.section p {
	margin: 0.5rem 0.5rem 0.5rem 1rem;
	line-height: 1.4em;
}

div.section li > p {
	margin-left: 0;
}

div.exampleSteps {
	font-size: 0.875rem;
	padding: 0.5rem;
	border: 0.07rem dotted #666666; 
	background: #faf5de;
	margin-left: 1rem;
}

div.exampleSteps > ul {
	margin: 0;
}

div.exampleSteps ul > li {
	line-height: 1.5em;
}

div.exampleSteps > ul > li {
	list-style-type: disc;
}

div.exampleSteps li ul > li {
	list-style-type: circle;
}

div.exampleSteps ul > div {
	font-size: 0.875rem;
	font-family: Consolas, 'Courier New', Courier, monospace;
	width: auto;
	padding: 0.5em 1em;
	margin: 0.25em 0;
	background: #EEEEEE;
	border: 0.07rem solid #999999;
}

div.exampleSteps ul > div > pre {
	margin: 0;
}

div.section table {
	margin: 1rem;
	border-collapse: collapse;
	border-top: 0.14rem solid #666666;
	border-bottom: 0.14rem solid #666666;
	font-size: 0.875rem;
}

div.section table > caption {
	padding: 0 1rem 0.5rem 1rem;
	font-weight: bold;
}

div.section table > thead {
	border-bottom: 0.07rem solid #666666;
	background: #cccccc;
}

div.section table tr > * {
	padding: 0.3em 1em;
}

div.section table > tbody > tr {
	border-bottom: 0.07rem solid #999999;
}

div.section table > tbody > tr:nth-child(odd) {
	background: #FFFFFF;
}

div.section table > tbody > tr:nth-child(even) {
	background: #e0e0e0;
}

div.section table.verticalBorder * tr > *:not(:last-child) {
	border-right: 0.07rem solid #999999;
}

div.section div.manualImg {
	max-width: 36rem;
	margin: 0.5rem 1rem 0.5rem 1.5rem;
}

div.section div.manualImg.large {
	max-width: 48rem;
}

div.section div.manualImg.small {
	max-width: 28rem;
}

div.section div.manualImg.tiny {
	max-width: 20rem;
}

div.section div.manualImg > img {
	max-width: 100%;
}

span.equation {
	white-space: nowrap;
	font-family: 'Times New Roman', Times, serif;
}

.nav-slide-right-enter-active, .nav-slide-right-leave-active {
  transition: width 0.3s ease;
}

.nav-slide-right-enter, .nav-slide-right-leave-to {
	width: 0;
}

.nav-slide-right-enter-to, .nav-slide-right-leave {
  width: 20rem;
}

@media only screen and (max-width: 800px) {
	div.manualHeader > h1 {
		margin: 2rem 0.75rem 1rem 0.75rem;
	}
	
	div.manualContent {
		font-size: 0.875rem;
	}
	
	div.section {
		margin: 0.5rem 1rem;
	}

	div.section p {
		margin: 0.25rem;
	}

	div.section > h1 {
		margin: 0.5rem -0.15rem 1rem -0.15rem;
	}

	div#callOutNav {
		left: -0.15em;
		padding: 0 1em 0.75em 1em;
		font-size: 0.875rem;
	}

	div.section div.manualImg {
		margin: 0.5rem 0.25rem;
	}

	div#manualNav {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
	}

	div.section table {
		margin: 1rem 0.5rem;
		font-size: 0.875rem;
	}
}

@media (pointer: coarse) {
	div#callOutNav {
		display: none;
	}
}

@media (min-resolution: 120dpi) {
	html {
		font-size: 16px;
	}

	div#runInfo {
		font-size: 0.75rem;
	}

	#heatmapPanel .borderedPanel {
		font-size: 0.75rem;
	}

	table.encodeTable > * > tr > td:not(.tablePlaceHolder):empty::before {
		font-size: 0.75rem;
	}

	div#selectedClusterHolder {
		font-size: 0.75rem;
	}
}