<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EpiAlignment</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="styles/mainstyles.css" rel="stylesheet" type="text/css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78231712-3"></script>
  <script src="js/googleAnalytics.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>
  <script defer src="js/lib/moment.min.js"></script>
  <script defer src="js/lib/moment-timezone-with-data.min.js"></script>
  <script defer src="js/main.js" type="module"></script>
</head>

<body>
  <div id="header" class="noFlex flexRow flexCenter flexWrap">
    <!-- Introduction -->
    <div id="headerContainer" class="flex flexColumn flexStretch flexNoWrap flexNoGap">
      <h1 class="flex">EpiAlignment: a chromosomal similarity search engine</h1>
      <div class="headerByline">
        EpiAlignment is a tool that can align genomic regions with both sequence
        and epigenomic information.
      </div>
    </div>
    <div id="headerButtonHolder" class="flex flexRow flexWrap flexCenter justifyEnd">
      <a class="buttons flexRow flexCenter justifyCenter" target="_blank" href="manual.html"><i class="material-icons">help_outline</i>Manual</a>
      <a class="buttons flexRow flexCenter justifyCenter" title="A template python program that can be used to access EpiAlignment"
        target="_blank" href="assets/PythonClient.zip"><i class="material-icons">save_alt</i>Python
        client template</a>
    </div>
  </div>
  <!--alignment steps-->
  <div id="epialign_app" v-cloak>
    <form ref="mainForm" method="post" enctype="multipart/form-data"
      action="/backend/form_upload" @submit.prevent="submitForm"
      :class=" { hasError: hasError } "
      novalidate="true">
      <!--step1-->
      <div id="step1" class="stepbox flexRow flexStart flex flexWrap">
        <div class="stepleft">
          <h2> STEP 1 </h2>
        </div>
        <div class="stepright flexColumn flexStretch flex">
          <div class="flexRow flexCenter flexWrap">
            <h2>Select the alignment mode</h2>
          </div>
          <div class="flexRow flexCenter flexWrap">
            <div class="flexRow flexCenter flexNoWrap">
              <input type="radio" v-model="formParams.alignMode" name="alignMode" value="promoter" id="promoterRadio"
                checked @change="checkAlignMode">
              <label for="promoterRadio"> Promoter</label>
              <input type="radio" v-model="formParams.alignMode" name="alignMode" value="enhancer" id="enhancerRadio"
                @change="checkAlignMode">
              <label for="enhancerRadio"> Enhancer</label>
            </div>
            <div id="modeHelp" class="help flexRow flexCenter flexNoWrap" @click="toggleModeHelp">
              <i class="material-icons iconAtLeft">help</i>
              <div>Which mode should I choose?</div>
            </div>
          </div>
          <div v-show="formError.modeNotSelected" class="error flexRow flexNoWrap flexCenter">
            <i class="material-icons iconAtLeft">warning</i>
            <div>Please select an alignment mode.</div>
          </div>
          <div v-show="!formParams.alignMode || showModeHelp" class="tooltipPanel flexColumn flexNoWrap flexStretch"
            :class="{ highlightBlink: !formParams.alignMode && showModeHelp }">
            <div class="flexRow flexNoGap flexWrap flexStretch">
              <div>
                <strong>Sample data is available in both modes.</strong>
              </div>
              <div><a href="manual.html#overview">More information ...</a>
              </div>
            </div>
            <div class="flexRow flexWrap flexNoGap flexStart">
              <div class="flex flexRow flexWrap flexNoGap flexStart twoColumnContent">
                <div class="flex imgHolder">
                  <img alt="Promoter mode demonstration" src="assets/images/PromoterStart.png">
                </div>
                <div class="flex">
                  <strong>The promoter mode</strong> attempts to align every
                  input query region to all target regions to find the best
                  hit (all-against-all alignment).
                  Therefore, it would be useful if you have query
                  and target regions of similar lengths, and would like to find
                  one best match for the query region among a set of target
                  regions. The promoter mode could also be handy if you'd like
                  to define promoter regions with gene names.
                </div>
              </div>
              <div class="flex flexRow flexWrap flexNoGap flexStart twoColumnContent">
                <div class="flex imgHolder">
                  <img alt="Enhancer mode demonstration" src="assets/images/EnhancerStart.png">
                </div>
                <div class="flex">
                  <strong>The enhancer mode</strong>, on the other hand,
                  is more useful if you have target regions much longer than
                  the query regions, and you are trying to match the query
                  regions to a sub-region of the target region
                  (one-against-one alignment). This mode
                  allows defining target regions using homologous information.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--step2-->
      <div id="step2" class="stepbox flexRow flexStart flex flexWrap" :class="{ disabledDueToStep1: !formParams.alignMode }">
        <div class="stepleft">
          <h2> STEP 2 </h2>
        </div>
        <div class="stepright flexColumn flexStretch">
          <div class="flexRow flexCenter flexWrap">
            <h2>Upload data</h2>
            <button type="button" @click="useSample">
              Use sample data
            </button>
          </div>
          <!--query region-->
          <div class="speciesData flexColumn flexStretch">
            <h3>Query regions</h3>
            <div class="flexRow flexStart flexWrap">
              <div class="elemLabel">Genome assembly:</div>
              <div>
                <select name="genomeAssembly[]" v-model="formParams.genomeAssembly[0]">
                  <option value="hg38">(Homo sapiens) hg38</option>
                  <option value="mm10">(Mus musculus) mm10</option>
                </select>
              </div>
            </div>
            <div class="flexRow flexStart flexWrap">
              <div class="elemLabel">Peak regions:</div>
              <div class="flexColumn flexStretch flexNoGap">
                <div class="encodeButton flexColumn flexCenter flexNoGap" @click="selectEncodeData">
                  <div v-html="presetButtonText"></div>
                </div>
                <div class="flexRow flexStart flexWrap">
                  <div class="subElemLabel">or upload your own:</div>
                  <input ref="peakFile1" class="flex" type="file" name="speciesPeak1[]" @change="peakFileChanged($event, 0)">
                </div>
                <div class="errorMessage" v-show="formError.peakError[0]">
                  Please either select a provided paired public dataset,
                  or upload your own peak file (BED6 format).
                </div>
              </div>
            </div>
            <div class="flexRow flexStart flexWrap">
              <div class="elemLabel">Input regions:</div>
              <div class="flexColumn flexStretch flex">
                <textarea spellcheck="false" autocomplete="new-password" name="speciesText[]" v-model="formParams.speciesText[0]"
                  :placeholder="genomePlaceholder"></textarea>
                <div class="flexRow flexStart flexWrap">
                  <div class="subElemLabel">or upload a file:</div>
                  <input ref="speciesInputFile1" class="flex" type="file" name="speciesInput1" @change="inputFileChanged($event, 0)">
                </div>
                <div class="errorMessage" v-show="formError.inputError[0]">
                  Please either provide the input regions
                  (BED6{{ enhancerSelected ? ' or gene names' : ''}})
                  in the text box, or upload a text file
                  (BED6{{ enhancerSelected ? ' or gene names' : ''}}).
                </div>
              </div>
            </div>
            <div class="flexRow flexStart flexWrap" v-show="promoterSelected">
              <div class="elemLabel"></div>
              <div class="flexColumn flexStretch flex">
                <div class="textWithInput">
                  Please specify promoter region ranges if you use gene names
                  for input:
                  <span class="shortInputContainer nobr">
                    <input ref="promoter[0]" type="number" min="0" step="1" autocomplete="new-password" name="promoterUp" v-model.number="formParams.promoterUp">
                    bps upstream from TSSs,
                  </span>
                  <span class="shortInputContainer nobr">
                    <input ref="promoter[1]" type="number" min="0" step="1" autocomplete="new-password" name="promoterDown" v-model.number="formParams.promoterDown">
                    bps downstream from TSSs.
                  </span>
                </div>
                <div class="errorMessage" v-show="formError.promoterLengthError">
                  Please use a non-negative integer.
                </div>
              </div>
            </div>
          </div>
          <!--searching region-->
          <div class="speciesData flexColumn flexStretch">
            <h3>Target regions</h3>
            <div class="flexColumn flexStart flexNoGap">
              <div class="elemLabel">Genome assembly:</div>
              <div class="flexColumn flexStart flexNoGap">
                <select name="genomeAssembly[]" v-model="formParams.genomeAssembly[1]">
                  <option value="hg38">(Homo sapiens) hg38</option>
                  <option value="mm10" selected>(Mus musculus) mm10</option>
                </select>
                <div class="errorMessage" v-show="formError.referenceError">
                  Please do not use the same reference when using homologous
                  regions to specify your target in enhancer mode.
                </div>
              </div>
            </div>
            <div class="flexRow flexStart flexWrap">
              <div class="elemLabel">Peak regions:</div>
              <div class="flexColumn flexStretch flexNoGap">
                <div class="encodeButton flexColumn flexCenter flexNoGap" @click="selectEncodeData">
                  <div v-html="presetButtonText"></div>
                </div>
                <div class="flexRow flexStart flexWrap">
                  <div class="subElemLabel">or upload your own:</div>
                  <input ref="peakFile2" class="flex" type="file" name="speciesPeak2[]" @change="peakFileChanged($event, 1)">
                </div>
                <div class="errorMessage" v-show="formError.peakError[1]">
                  Please either select a provided paired public dataset,
                  or upload your own peak file (BED6 format).
                </div>
              </div>
            </div>
            <div class="flexRow flexStart flexWrap">
              <div class="elemLabel">Input:</div>
            </div>
            <!--type of searching regions-->
            <div class="flexColumn flexStretch">
              <div v-show="!formParams.alignMode" class="tooltipPanel searchClassPlaceholder">
                Please select the alignment mode to see specific search types.
              </div>
              <!-- promoter mode -->
              <div v-show="promoterSelected" class="flexRow flexStart flexWrap">
                <div class="elemLabel flexRow flexStart flexNoWrap">
                  <input type="radio" name="searchRegionMode" v-model="formParams.searchRegionMode" value="genecluster"
                    id="geneClusterSearch">
                  <label for="geneClusterSearch">Search a gene cluster.</label>
                </div>
                <div id="clusterPanel" :class="{ inactive: !geneClusterSelected }" @click.stop>
                  <input id="clusterInput" spellcheck="false" autocomplete="new-password" type="text" :disabled="!geneClusterSelected"
                    placeholder="Find a cluster by gene name or Ensembl ID" v-model="clusterText" @input="clusterInputChanged">
                  <div v-if="showClusterCandidate" id="clusterCandidateHolder" class="flexRow flexNoGap">
                    <div id="clusterList">
                      <div class="clusterListHeader">Result for "{{postedClusterText}}"</div>
                      <ul v-show="clusterCandidates.length">
                        <li v-for="cluster in clusterCandidates" @click="selectCluster(cluster)" :class="{ selected: cluster === selectedCluster }"
                          class="flexRow flexCenter">
                          <span class="flex">{{ cluster.id }}</span>
                          <i class="material-icons" @click.stop="applyCluster(cluster.id)" title="Select this cluster">
                            open_in_browser
                          </i>
                        </li>
                      </ul>
                      <div v-show="showClusterMessage" id="clusterMessageHolder">({{ clusterMessage }})</div>
                    </div>
                    <div v-if="selectedCluster" id="selectedClusterHolder">
                      <ul>
                        <li v-for="(genes, species) in selectedCluster.genesBySpecies">
                          <div class="speciesGeneHeader">{{ species }} genes</div>
                          <ul>
                            <li v-for="gene in genes" class="flexRow flexStart flexWrap flexNoGap">
                              <div class="geneName" v-html="getGeneSymbolAlias(gene, postedClusterText)"></div>
                              <div class="geneDescription flex">{{ gene.description }}</div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="errorMessage" v-show="formError.clusterError">
                  Please provide a cluster name. You may use the text box
                  to search for a cluster including the gene of interest.
                  Please use the <i class="material-icons">
                    open_in_browser
                  </i> button to select the cluster you want.
                </div>
              </div>
              <!--
                <div v-show="promoterSelected" class="flexRow flexStart flexWrap">
                  <div class="elemLabel flexRow flexStart flexNoWrap">
                    <input type="radio" name="searchRegionMode" v-model="formParams.searchRegionMode" value="genetype" id="geneTypeSearch">
                    <label for="geneTypeSearch"> Search a specific type of genes.</label>
                  </div>
                  <div :class="{ inactive: !geneTypeSelected }">
                    <select :disabled="!geneTypeSelected" name="genetypeSelect" v-model="formParams.genetypeSelect">
                      <option value="protein-coding gene" selected>protein-coding gene</option>
                      <option value="lincRNA">lincRNA</option>
                      <option value="pseudogene">pseudogene</option>
                    </select>
                  </div>
                </div>
              -->
              <!-- enhancer mode -->
              <div v-show="enhancerSelected" class="flexRow flexStart flexWrap">
                <div class="elemLabel flexRow flexStart flexNoWrap">
                  <input type="radio" name="searchRegionMode" v-model="formParams.searchRegionMode" value="homoregion"
                    id="homologSearch">
                  <label for="homologSearch"> Use homologous regions in this species.</label>
                </div>
                <div :class="{ inactive: !homologRegionSelected }">
                  <span class="shortInputContainer nobr">
                    <input :disabled="!homologRegionSelected" ref="enhancer[0]" type="number" min="0" step="1" autocomplete="new-password"
                      name="enhancerUp" v-model.number="formParams.enhancerUp">
                    bps upstream,</span> <span class="shortInputContainer nobr">
                    <input :disabled="!homologRegionSelected" ref="enhancer[0]" type="number" min="0" step="1" autocomplete="new-password"
                      name="enhancerDown" v-model.number="formParams.enhancerDown">
                    bps downstream. </span></div>
                <div class="errorMessage" v-show="formError.enhancerLengthError">
                  Please use a non-negative integer.
                </div>
              </div>
              <!-- both -->
              <div class="flexRow flexStart flexWrap">
                <div class="elemLabel flexRow flexStart flexNoWrap">
                  <input type="radio" name="searchRegionMode" v-model="formParams.searchRegionMode" value="genomeregion"
                    id="bedPromSearch">
                  <label for="bedPromSearch"> {{ genomeRegionLabel }} </label>
                </div>
                <div class="flexColumn flexStretch flex" :class="{ inactive: !genomeRegionSelected }">
                  <textarea spellcheck="false" autocomplete="new-password" :disabled="!genomeRegionSelected" name="speciesText[]"
                    v-model="formParams.speciesText[1]" :placeholder="genomePlaceholder"></textarea>
                  <div class="flexRow flexStart flexWrap">
                    <div class="subElemLabel">or upload a file:</div>
                    <input ref="speciesInputFile2" :disabled="!genomeRegionSelected" class="flex" type="file" name="speciesInput2" @change="inputFileChanged($event, 0)">
                  </div>
                </div>
                <div class="errorMessage" v-show="formError.inputError[1]">
                  Please either provide the search regions
                  (BED6{{ enhancerSelected ? ' or gene names' : ''}})
                  in the text box, or upload a text file
                  (BED6{{ enhancerSelected ? ' or gene names' : ''}}).
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--step 3-->
      <div id="step3" class="stepbox flexRow flexStart flex flexWrap" :class="{ disabledDueToStep1: !formParams.alignMode }">
        <div class="stepleft">
          <h2> STEP 3 </h2>
        </div>
        <div class="stepright flexColumn flexStretch">
          <div>
            <h2>Set the alignment parameters</h2>
          </div>
          <div class="flexRow flexCenter flexWrap">
            <div class="flexRow flexNoWrap shortInputContainer">
              <div class="subElemLabel">Sequence weight:</div>
              <input ref="weight[0]" type="number" min="0" step="any" autocomplete="new-password" name="seqweight" v-model.number="formParams.seqweight"
                value="0.9">
            </div>
            <div class="flexRow flexNoWrap shortInputContainer">
              <div class="subElemLabel">Epigenome weight:</div>
              <input ref="weight[1]" type="number" min="0" step="any" autocomplete="new-password" name="epiweight" v-model.number="formParams.epiweight"
                value="0.1">
            </div>
          </div>
          <div class="errorMessage" v-show="formError.weightError">
            Please use non-negative numbers for both weights (preferably between 0 and 1).
          </div>
          <button type="button" class="selfAlignStart" @click="toggleShowParam">
            {{ showMoreParamText }}
          </button>
          <div class="speciesData flexRow flexStart flexWrap" v-show="showParam || formError.paramError">
            <div class="elemLabel">Alignment parameters:</div>
            <div class="parameterContainer flexColumn flexStretch">
              <div class="flexRow flexStart flexWrap">
                <div class="nobr shortInputContainer">
                  <div class="paramLabel"><em>s</em>:</div>
                  <input ref="param[0]" type="number" min="0.0001" step="any" autocomplete="new-password" name="paras" v-model.number="formParams.paras" value="0.3">
                </div>
                <div class="nobr shortInputContainer">
                  <div class="paramLabel"><em>&#956;</em>:</div>
                  <input ref="param[1]" type="number" min="0.0001" step="any" autocomplete="new-password" name="paramu" v-model.number="formParams.paramu" value="0.3">
                </div>
                <div class="nobr shortInputContainer">
                  <div class="paramLabel"><em>&#954;</em>:</div>
                  <input ref="param[2]" type="number" min="0.0001" step="any" autocomplete="new-password" name="parak" v-model.number="formParams.parak" value="0.3">
                </div>
              </div>
              <div class="flexRow flexStart flexWrap">
                <div class="nobr shortInputContainer">
                  <div class="paramLabel"><em>&#960;</em><sub>A</sub>:</div>
                  <input ref="param[3]" type="number" min="0" max="1" step="any" autocomplete="new-password" name="piA" v-model.number="formParams.piA" value="0.25">
                </div>
                <div class="nobr shortInputContainer">
                  <div class="paramLabel"><em>&#960;</em><sub>C</sub>:</div>
                  <input ref="param[4]" type="number" min="0" max="1" step="any" autocomplete="new-password" name="piC" v-model.number="formParams.piC" value="0.25">
                </div>
                <div class="nobr shortInputContainer">
                  <div class="paramLabel"><em>&#960;</em><sub>G</sub>:</div>
                  <input ref="param[5]" type="number" min="0" max="1" step="any" autocomplete="new-password" name="piG" v-model.number="formParams.piG" value="0.25">
                </div>
                <div class="nobr shortInputContainer">
                  <div class="paramLabel"><em>&#960;</em><sub>T</sub>:</div>
                  <input ref="param[6]" type="number" min="0" max="1" step="any" autocomplete="new-password" name="piT" v-model.number="formParams.piT" value="0.25">
                </div>
              </div>
              <div class="flexRow flexStart flexWrap">
                <div class="nobr shortInputContainer">
                  <div class="paramLabel"><em>&#960;</em><sub>1</sub>:</div>
                  <input ref="param[7]" type="number" min="0" max="1" step="any" autocomplete="new-password" name="pi1" v-model.number="formParams.pi1" value="0.1">
                </div>
              </div>
              <div class="errorMessage" v-show="formError.paramError">
                Please use positive numbers for all parameters.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--step 4-->
      <div id="step4" class="stepbox flexRow flexStart flex flexWrap" :class="{ disabledDueToStep1: !formParams.alignMode }">
        <div class="stepleft">
          <h2> STEP 4 </h2>
        </div>
        <div class="stepright flexColumn flexStart">
          <div>
            <h2>Submit data</h2>
          </div>
          <div class="flexRow flexStart flexWrap">
            <label for="emailField">If you would like to receive an email when your job is done, please provide it here:</label>
            <input id="emailField" spellcheck="false" autocomplete="email" type="email" name="mail" v-model="formParams.mail"
              placeholder="Enter your email here.">
            <div class="errorMessage">
              Please provide a valid email address or leave this field blank if you don't want to receive any notifications.
            </div>
          </div>
          <div v-show="formParams.alignMode === 'enhancer' && !formParams.mail" class="tooltipPanel">
            <div>Due to the many processing steps and larger search regions
              involved, enhancer mode runs longer than promoter mode and may
              take minutes.</div>
            <div> It is highly recommended to provide an email here
              to get notified when results become available. You may also
              bookmark the result page after submitting your data.</div>
          </div>
          <div class="flexRow flexCenter">
            <input type="submit" value="Submit">
            <div v-html="submitStatus" class="submitStatus" :class="{ formError: hasError, submitted: submitted }">
            </div>
          </div>
        </div>
      </div>
    </form>
    <div v-show="showPreset" class="flexColumn flexCenter justifyCenter" id="encodeDialogContainer" @wheel.stop.prevent
      @click.self.stop.prevent="closeEncodeDialog">
      <div class="flexColumn flexStretch" id="encodeDialog">
        <h2>Select paired peak datasets from ENCODE Project</h2>
        <div id="encodeDialogBody" class="flex flexColumn">
          <div>
            Here we provide some pre-compiled paired peak datasets from
            <a href="https://www.encodeproject.org/">the ENCODE and mouse ENCODE
              project</a>.
            More data will be added here after they are matched.
          </div>
          <div>
            Please click on one of the blue cells to use the paired data
            between human and mouse in EpiAlignment.
          </div>
          <div v-show="!presetLoaded">Loading ENCODE data ...</div>
          <div v-show="presetLoaded" id="presetPanel" class="flexRow flexStretch flex flexNoGap">
            <div class="flex flexColumn" id="encodeTableHolder" @wheel.stop>
              <div>
                <table class="encodeTable">
                  <thead>
                    <tr>
                      <th>ENCODE Datasets</th>
                      <th v-for="filter in encodeFilters" :key="filter.id">
                        {{ filter.label }}
                      </th>
                      <th v-for="n in (maxSampleFilterLength - encodeFilters.length)" class="tablePlaceHolder">
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="sampleEntry in encodeSamples" :key="sampleEntry.label">
                      <th>
                        {{ sampleEntry.label }}
                      </th>
                      <td v-for="(filterEntry, index) in sampleEntry.matchedFilters" @click="tempSelectEntry(filterEntry, sampleEntry.label, encodeFilters[index])">
                        <template v-if="filterEntry">
                          <span v-for="species in speciesSupported">
                            {{ species.shortHand }}:
                            {{ filterEntry[species.name].length }}
                          </span>
                        </template>
                      </td>
                      <td v-for="n in (maxSampleFilterLength - encodeFilters.length)" class="tablePlaceHolder">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <table class="encodeTable">
                  <thead>
                    <tr>
                      <th>Public Datasets</th>
                      <th v-for="filter in publicFilters" :key="filter.id">
                        {{ filter.label }}
                      </th>
                      <th v-for="n in (maxSampleFilterLength - publicFilters.length)" class="tablePlaceHolder">
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="sampleEntry in publicSamples" :key="sampleEntry.label">
                      <th>
                        {{ sampleEntry.label }}
                      </th>
                      <td v-for="(filterEntry, index) in sampleEntry.matchedFilters" @click="tempSelectEntry(filterEntry, sampleEntry.label, publicFilters[index])">
                        <template v-if="filterEntry">
                          <span v-for="species in speciesSupported">
                            {{ species.shortHand }}:
                            {{ filterEntry[species.name].length }}
                          </span>
                        </template>
                      </td>
                      <td v-for="n in (maxSampleFilterLength - publicFilters.length)" class="tablePlaceHolder">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="dataPanel">
              <div v-if="tempSelectedEntry" @wheel.stop>
                <template v-for="(experiments, species) in tempSelectedEntry">
                  <h3>{{ species }} {{ experiments.length > 1 ? 'datasets' : 'dataset' }}</h3>
                  <ul>
                    <li class="flexRow flexNoGap flexNoWrap flexCenter" v-for="experiment in experiments" :class="{ selected: experiment.id === tempSelectedExperimentIds[species] }"
                      @click="selectExperiment(experiment.id, species)">
                      <i class="noFlex material-icons" v-show="experiment.id === tempSelectedExperimentIds[species]">
                        check
                      </i>
                      <div class="flex">{{ experiment.id }}</div>
                      <a class="noFlex" target="_blank" :title="getDatasetLinkTitle(experiment.id)" :href="getDatasetHref(experiment.id)"><i
                          class="material-icons">
                          open_in_new
                        </i></a>
                    </li>
                  </ul>
                </template>
              </div>
            </div>
          </div>
          <div id="encodePanelCommandBar" class="flexRow justifyEnd noFlex">
            <!--<button id="cancelEncode" @click="closeEncodeDialog">Cancel</button>-->
            <button :disabled="!tempSelectedEntry" id="confirmEncode" @click="confirmEncodeSelection">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="flexRow flexWrap flexCenter noFlex justifyEnd">
    <div class="flex flexColumn flexStretch flexNoGap">
      <!-- footer text -->
      <div>Copyright © 2018 The Regents of the University of California. All Rights
        Reserved.</div>
      <div class="flex flexRow flexWrap flexStretch flexNoGap">
        <div>Created by Jia Lu, Xiaoyi Cao and Sheng Zhong, Department of
          Bioengineering.</div>
        <a href='&#109;&#097;&#105;&#108;&#116;&#111;:&#115;&#122;&#104;&#111;&#110;&#103;&#064;&#101;&#110;&#103;&#046;&#117;&#099;&#115;&#100;&#046;&#101;&#100;&#117;'>Contact
          us via email</a>
        <a href="https://github.com/Zhong-Lab-UCSD/EpiAlignment_WebApp" target="_blank">Find us on Github</a>
      </div>
    </div>
    <img id="ucsdLogo" src="assets/images/UCSanDiegoLogo-White.png">
  </div>
</body>

</html>