<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EpiAlignment</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="styles/mainstyles.css" rel="stylesheet" type="text/css">
  <script defer src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
  <script defer src="js/main.js" type="module"></script>
</head>

<body>
  <div id="header">
    <!-- Introduction -->
    <h1>EpiAlignment: chromosomal similarity searching engine</h1>
    <span>EpiAlignment is a tool that can align genomic regions with both sequence and epigenomic information. For more
    theoretical details please see our PLoS computational biology paper.</span>
  </div>
  <!--alignment steps-->
  <div id="epialign_app" v-cloak>
    <form ref="mainForm" method="post" enctype="multipart/form-data" action="/backend/form_upload" @submit.prevent="submitForm">
      <!--step1-->
      <div id="step1" class="stepbox flexRow flexStart flex">
        <div class="stepleft">
          <h2> STEP 1 </h2>
        </div>
        <div class="stepright flexColumn flexStretch flex">
          <div class="flexRow flexCenter flexWrap">
            <h2>Select the alignment mode:</h2>
            <div class="flexRow flexCenter flexWrap">
              <div class="flexRow flexCenter flexNoWrap">
                <input type="radio" v-model="formParams.alignMode" name="alignMode" value="promoter" id="promoterRadio"
                  checked @change="checkAlignMode">
                <label for="promoterRadio"> Promoter</label>
                <input type="radio" v-model="formParams.alignMode" name="alignMode" value="enhancer" id="enhancerRadio"
                  @change="checkAlignMode">
                <label for="enhancerRadio"> Enhancer</label>
              </div>
              <div id="modeHelp" class="help flexRow flexCenter flexNoWrap">
                <i class="material-icons">help</i>
                <div>Which mode should I choose?</div>
              </div>
            </div>
          </div>
          <div v-show="formError.modeNotSelected" class="error flexRow flexNoWrap flexCenter">
            <i class="material-icons">warning</i>
            <div>Please select an alignment mode.</div>
          </div>
        </div>
      </div>
      <!--step2-->
      <div id="step2" class="stepbox flexRow flexStart flex">
        <div class="stepleft">
          <h2> STEP 2 </h2>
        </div>
        <div class="stepright flexColumn flexStretch">
          <div class="flexRow flexCenter flexWrap">
            <h2>Upload data</h2>
            <button type="button">
              Use sample data
            </button>
          </div>
          <!--query region-->
          <div class="speciesData flexColumn flexStretch">
            <h3>Query regions</h3>
            <div class="flexRow flexStart flexWrap">
              <div class="elemLabel">Genome assembly:</div>
              <div>
                <select name="genomeAssembly[]" v-model="formParams.genomeAssembly[0]">
                  <option value="hg38">(Homo sapiens) hg38</option>
                  <option value="mm10">(Mus musculus) mm10</option>
                </select>
              </div>
            </div>
            <div class="flexRow flexStart flexWrap">
              <div class="elemLabel">Peak regions:</div>
              <div class="flexColumn flexStretch flexNoGap">
                <div class="encodeButton flexColumn flexCenter flexNoGap" @click="selectEncodeData">
                  <div>Click here to select a paired public dataset.</div>
                </div>
                <div class="flexRow flexStart flexWrap">
                  <div class="subElemLabel">or upload your own:</div>
                  <input class="flex" type="file" name="speciesPeak1[]">
                </div>
              </div>
            </div>
            <div class="flexRow flexStart flexWrap">
              <div class="elemLabel">Input regions:</div>
              <div class="flexColumn flexStretch flex">
                <textarea name="speciesText[]" v-model="formParams.speciesText[0]" :placeholder="genomePlaceholder"></textarea>
                <div class="flexRow flexStart flexWrap">
                  <div class="subElemLabel">or upload a file:</div>
                  <input class="flex" type="file" name="speciesInput1">
                </div>
              </div>
            </div>
            <div class="flexRow flexStart flexWrap" v-show="promoterSelected">
              <div class="elemLabel"></div>
              <div class="textWithInput">Please specify promoter region ranges if you use gene names
                for input:
                <span class="shortInputContainer nobr">
                  <input type="text" name="promoterUp" v-model.number="formParams.promoterUp">
                  bps upstream from TSSs,
                </span>
                <span class="shortInputContainer nobr">
                  <input type="text" name="promoterDown" v-model.number="formParams.promoterDown">
                  bps downstream from TSSs.
                </span>
              </div>
            </div>
          </div>
          <!--searching region-->
          <div class="speciesData flexColumn flexStretch">
            <h3>Searching region</h3>
            <div class="flexRow flexStart flexWrap">
              <div class="elemLabel">Genome assembly:</div>
              <div>
                <select name="genomeAssembly[]" v-model="formParams.genomeAssembly[1]">
                  <option value="hg38">(Homo sapiens) hg38</option>
                  <option value="mm10" selected>(Mus musculus) mm10</option>
                </select>
              </div>
            </div>
            <div class="flexRow flexStart flexWrap">
              <div class="elemLabel">Peak regions:</div>
              <div class="flexColumn flexStretch flexNoGap">
                <div class="encodeButton flexColumn flexCenter flexNoGap" @click="selectEncodeData">
                  <div>Click here to select a paired public dataset.</div>
                </div>
                <div class="flexRow flexStart flexWrap">
                  <div class="subElemLabel">or upload your own:</div>
                  <input class="flex" type="file" name="speciesPeak2[]">
                </div>
              </div>
            </div>
            <div class="flexRow flexStart flexWrap">
              <div class="elemLabel">Input:</div>
            </div>
            <!--type of searching regions-->
            <div class="flexColumn flexStretch">
              <div v-show="!formParams.alignMode" class="searchClassPlaceholder">
                Please select the alignment mode to see specific search types.
              </div>
              <!-- promoter mode -->
              <div v-show="promoterSelected" class="flexRow flexStart flexWrap">
                <div class="elemLabel flexRow flexStart flexNoWrap">
                  <input type="radio" name="searchRegionMode" v-model="formParams.searchRegionMode" value="genecluster"
                    id="geneClusterSearch">
                  <label for="geneClusterSearch">Search a gene cluster.</label>
                </div>
                <div id="clusterPanel" :class="{ inactive: !geneClusterSelected }">
                  <input id="clusterInput" type="text" :disabled="!geneClusterSelected" placeholder="Find a cluster by gene name or Ensembl ID"
                    v-model="clusterText" @input="clusterInputChanged">
                  <div v-if="showClusterCandidate" id="clusterCandidateHolder" @click.stop class="flexRow flexNoGap">
                    <div id="clusterList">
                      <div class="clusterListHeader">Result for "{{postedClusterText}}"</div>
                      <ul v-show="clusterCandidates.length">
                        <li v-for="cluster in clusterCandidates" @click="selectCluster(cluster)" :class="{ selected: cluster.id === clusterText }">
                          {{ cluster.id }}
                        </li>
                      </ul>
                      <div v-show="showClusterMessage" id="clusterMessageHolder">({{ clusterMessage }})</div>
                    </div>
                    <div v-if="selectedCluster" id="selectedClusterHolder">
                      <ul>
                        <li v-for="(genes, species) in selectedCluster.genesBySpecies">
                          <div class="speciesGeneHeader">{{ species }}</div>
                          <ul>
                            <li v-for="gene in genes" class="flexRow flexWrap flexNoGap">
                              <div class="geneName">{{ gene.symbol }}</div>
                              <div class="geneDescription">{{ gene.description }}</div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!--
                <div v-show="promoterSelected" class="flexRow flexStart flexWrap">
                  <div class="elemLabel flexRow flexStart flexNoWrap">
                    <input type="radio" name="searchRegionMode" v-model="formParams.searchRegionMode" value="genetype" id="geneTypeSearch">
                    <label for="geneTypeSearch"> Search a specific type of genes.</label>
                  </div>
                  <div :class="{ inactive: !geneTypeSelected }">
                    <select :disabled="!geneTypeSelected" name="genetypeSelect" v-model="formParams.genetypeSelect">
                      <option value="protein-coding gene" selected>protein-coding gene</option>
                      <option value="lincRNA">lincRNA</option>
                      <option value="pseudogene">pseudogene</option>
                    </select>
                  </div>
                </div>
              -->
              <!-- enhancer mode -->
              <div v-show="enhancerSelected" class="flexRow flexStart flexWrap">
                <div class="elemLabel flexRow flexStart flexNoWrap">
                  <input type="radio" name="searchRegionMode" v-model="formParams.searchRegionMode" value="homoregion"
                    id="homologSearch">
                  <label for="homologSearch"> Use homologous regions in this species <span class="nobr">(liftOver
                      MinMatch = 0.1)</span>.</label>
                </div>
                <div :class="{ inactive: !homologRegionSelected }">
                  <span class="shortInputContainer nobr">
                    <input :disabled="!homologRegionSelected" type="text" name="enhancerUp" v-model.number="formParams.enhancerUp">
                    bps upstream,</span> <span class="shortInputContainer nobr">
                    <input :disabled="!homologRegionSelected" type="text" name="enhancerDown" v-model.number="formParams.enhancerDown">
                    bps downstream. </span></div>
              </div>
              <!-- both -->
              <div class="flexRow flexStart flexWrap">
                <div class="elemLabel flexRow flexStart flexNoWrap">
                  <input type="radio" name="searchRegionMode" v-model="formParams.searchRegionMode" value="genomeregion"
                    id="bedPromSearch">
                  <label for="bedPromSearch"> {{ genomeRegionLabel }} </label>
                </div>
                <div class="flexColumn flexStretch flex" :class="{ inactive: !genomeRegionSelected }">
                  <textarea :disabled="!genomeRegionSelected" name="speciesText[]" v-model="formParams.speciesText[1]"
                    :placeholder="genomePlaceholder"></textarea>
                  <div class="flexRow flexStart flexWrap">
                    <div class="subElemLabel">or upload a file:</div>
                    <input :disabled="!genomeRegionSelected" class="flex" type="file" name="speciesInput2">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--step 3-->
      <div id="step3" class="stepbox flexRow flexStart flex">
        <div class="stepleft">
          <h2> STEP 3 </h2>
        </div>
        <div class="stepright flexColumn flexStretch">
          <div>
            <h2>Set the alignment parameters</h2>
          </div>
          <div class="flexRow flexCenter flexWrap">
            <div class="flexRow flexNoWrap shortInputContainer">
              <div class="subElemLabel">Sequence weight:</div>
              <input type="text" name="seqweight" v-model.number="formParams.seqweight" value="0.9">
            </div>
            <div class="flexRow flexNoWrap shortInputContainer">
              <div class="subElemLabel">Epigenome weight:</div>
              <input type="text" name="epiweight" v-model.number="formParams.epiweight" value="0.1">
            </div>
          </div>
          <button type="button" class="selfAlignStart" @click="toggleShowParam">
            {{ showMoreParamText }}
          </button>
          <div class="speciesData flexRow flexStart flexWrap" v-show="showParam">
            <div class="elemLabel">Alignment parameters:</div>
            <div class="parameterContainer flexColumn flexStretch">
              <div class="flexRow flexStart flexWrap">
                <div class="nobr shortInputContainer">
                  <div class="paramLabel">s:</div>
                  <input type="text" name="paras" v-model.number="formParams.paras" value="0.3">
                </div>
                <div class="nobr shortInputContainer">
                  <div class="paramLabel">&#956:</div>
                  <input type="text" name="paramu" v-model.number="formParams.paramu" value="0.3">
                </div>
                <div class="nobr shortInputContainer">
                  <div class="paramLabel">&#954:</div>
                  <input type="text" name="parak" v-model.number="formParams.parak" value="0.3">
                </div>
              </div>
              <div class="flexRow flexStart flexWrap">
                <div class="nobr shortInputContainer">
                  <div class="paramLabel">&#960<sub>A</sub>:</div>
                  <input type="text" name="piA" v-model.number="formParams.piA" value="0.25">
                </div>
                <div class="nobr shortInputContainer">
                  <div class="paramLabel">&#960<sub>C</sub>:</div>
                  <input type="text" name="piC" v-model.number="formParams.piC" value="0.25">
                </div>
                <div class="nobr shortInputContainer">
                  <div class="paramLabel">&#960<sub>G</sub>:</div>
                  <input type="text" name="piG" v-model.number="formParams.piG" value="0.25">
                </div>
                <div class="nobr shortInputContainer">
                  <div class="paramLabel">&#960<sub>T</sub>:</div>
                  <input type="text" name="piT" v-model.number="formParams.piT" value="0.25">
                </div>
              </div>
              <div class="flexRow flexStart flexWrap">
                <div class="nobr shortInputContainer">
                  <div class="paramLabel">&#960<sub>1</sub>:</div>
                  <input type="text" name="pi1" v-model.number="formParams.pi1" value="0.1">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--step 4-->
      <div id="step4" class="stepbox flexRow flexStart flex">
        <div class="stepleft">
          <h2> STEP 4 </h2>
        </div>
        <div class="stepright flexColumn flexStart">
          <div>
            <h2>Submit data</h2>
          </div>
          <div class="flexRow flexStart flexWrap">
            <div class="nobr">
              <input type="checkbox" name="emailNote" v-model="formParams.emailNote" id="emailCheckbox">
              <label for="emailCheckbox">Notify me by email when the job is done.</label>
            </div>
            <div :class="{ inactive: !formParams.emailNote }" class="nobr">Email:
              <input id="emailField" type="text" name="mail" v-model="formParams.mail" :disabled="!formParams.emailNote"
                placeholder="Enter your email here.">
            </div>
            <br>
          </div>
          <div class="flexRow flexCenter">
            <input type="submit" value="Submit">
            <div v-html="submitStatus" class="submitStatus" :class="{ formError: hasError, submitted: submitted }">
            </div>
          </div>
        </div>
      </div>
    </form>
    <div v-show="showPreset" class="flexColumn flexCenter justifyCenter" id="encodeDialogContainer" @wheel.stop.prevent
      @click.self.stop.prevent="closeEncodeDialog">
      <div class="flexColumn flexStretch" id="encodeDialog">
        <h2>Select paired peak datasets from ENCODE Project</h2>
        <div id="encodeDialogBody" class="flex flexColumn">
          <div>
            Here we provide some pre-compiled paired peak datasets from
            <a href="https://www.encodeproject.org/">the ENCODE and mouse ENCODE
              project</a>.
            More data will be added here after they are matched.
          </div>
          <div>
            Please click on one of the blue cells to use the paired data
            between human and mouse in EpiAlignment.
          </div>
          <div v-show="!presetLoaded">Loading ENCODE data ...</div>
          <div v-show="presetLoaded" class="flexRow flexStretch flex">
            <div class="flex flexColumn" id="encodeTableHolder" @wheel.stop>
              <table class="encodeTable">
                <thead>
                  <tr>
                    <th>ENCODE Datasets</th>
                    <th v-for="filter in encodeFilters" :key="filter.id">
                      {{ filter.label }}
                    </th>
                    <th v-for="n in (maxSampleFilterLength - encodeFilters.length)" class="tablePlaceHolder">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="sampleEntry in encodeSamples" :key="sampleEntry.label">
                    <th>
                      {{ sampleEntry.label }}
                    </th>
                    <td v-for="filterEntry in sampleEntry.matchedFilters" @click="selectEntry(filterEntry)">
                      <template v-if="filterEntry">
                        <span v-for="species in speciesSupported">
                          {{ species.shortHand }}:
                          {{ filterEntry[species.name].length }}
                        </span>
                      </template>
                    </td>
                    <td v-for="n in (maxSampleFilterLength - encodeFilters.length)" class="tablePlaceHolder">
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="encodeTable">
                <thead>
                  <tr>
                    <th>Public Datasets</th>
                    <th v-for="filter in publicFilters" :key="filter.id">
                      {{ filter.label }}
                    </th>
                    <th v-for="n in (maxSampleFilterLength - publicFilters.length)" class="tablePlaceHolder">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="sampleEntry in publicSamples" :key="sampleEntry.label">
                    <th>
                      {{ sampleEntry.label }}
                    </th>
                    <td v-for="filterEntry in sampleEntry.matchedFilters" @click="selectEntry(filterEntry)">
                      <template v-if="filterEntry">
                        <span v-for="species in speciesSupported">
                          {{ species.shortHand }}:
                          {{ filterEntry[species.name].length }}
                        </span>
                      </template>
                    </td>
                    <td v-for="n in (maxSampleFilterLength - publicFilters.length)" class="tablePlaceHolder">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="dataPanel">
              <div v-if="selectedEntry" class="flex" @wheel.stop>
                <template v-for="(experiments, species) in selectedEntry">
                  <h3>{{ experiments.length > 1 ? 'Datasets' : 'Dataset' }}
                    for {{ species }}</h3>
                  <ul>
                    <li v-for="experiment in experiments" :class="{ selected: experiment.id === selectedExperimentIds[species] }"
                      @click="selectExperiment(experiment.id, species)">
                      <i class="material-icons" v-show="experiment.id === selectedExperimentIds[species]">
                        check
                      </i>
                      {{ experiment.id }}
                      <a target="_blank" title="See experiment details / download data on ENCODE website" :href="'https://www.encodeproject.org/experiments/' + experiment.id"><i
                          class="material-icons">
                          open_in_new
                        </i></a>
                    </li>
                  </ul>
                </template>
              </div>
            </div>
          </div>
          <div id="encodePanelCommandBar" class="flexRow justifyEnd noFlex">
            <!--<button id="cancelEncode" @click="closeEncodeDialog">Cancel</button>-->
            <button id="confirmEncode" @click="confirmEncodeSelection">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>